body{
    margin: 4% 6%;
    padding: 0;
}
.body{
    margin: 0 20% 0;
    font-size: 60px;
    background-size: cover;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.red{
    color: darkred;
}
.black{
    color: rgb(0, 0, 0);
}